git:
  depth: 1
  quiet: true
sudo: false
matrix:
  include:
  - name: GCC
    env: CC=gcc CC_ARCH=x64_gcc
    before_script: 
    script: 
    - make projects tests
    - CONFIG=wild make
    - CONFIG=release make
  - name: Clang
    env: CC=clang CC_ARCH=x64_clang
    before_script: 
    script: 
    - make projects tests
    - CONFIG=wild make
    - CONFIG=release make
  - name: Linaro ARM
    env:
    - CROSS_COMPILE="$(pwd)/gcc-linaro-4.9-2016.02-x86_64_arm-linux-gnueabihf/bin/arm-linux-gnueabihf-"
    - CC_ARCH=armv7l
    before_script:
    - wget -nv http://releases.linaro.org/components/toolchain/binaries/4.9-2016.02/arm-linux-gnueabihf/gcc-linaro-4.9-2016.02-x86_64_arm-linux-gnueabihf.tar.xz
    - tar -xf gcc-linaro-4.9-2016.02-x86_64_arm-linux-gnueabihf.tar.xz --checkpoint=.100
    script:
    - make -f Makefile.ARM projects tests
    - CONFIG=wild make -f Makefile.ARM
    - CONFIG=release make -f Makefile.ARM
  - name: OpenWRT MIPS
    env:
    - CROSS_COMPILE="$(pwd)/lede-sdk-17.01.4-ar71xx-generic_gcc-5.4.0_musl-1.1.16.Linux-x86_64/staging_dir/toolchain-mips_24kc_gcc-5.4.0_musl-1.1.16/bin/mips-openwrt-linux-musl-"
    - STAGING_DIR=/tmp
    - CC_ARCH=mips-24kc
    before_script:
    - wget -nv https://downloads.openwrt.org/releases/17.01.4/targets/ar71xx/generic/lede-sdk-17.01.4-ar71xx-generic_gcc-5.4.0_musl-1.1.16.Linux-x86_64.tar.xz
    - tar -xf lede-sdk-17.01.4-ar71xx-generic_gcc-5.4.0_musl-1.1.16.Linux-x86_64.tar.xz --checkpoint=.100
    script:
    - make -f Makefile.MIPS projects tests
    - CONFIG=wild make -f Makefile.ARM
    - CONFIG=release make -f Makefile.MIPS
before_deploy: mkdir release && cp res/propeller.bcsmap bin && cd bin && ls -1 . | zip -9o@ ../release/bcs-$CC_ARCH.zip && cd .. && ls -1 release/*
deploy:
  provider: releases
  user: Str1ker17
  api_key: '$GITHUB_API_KEY'
  skip_cleanup: true
  file: release/bcs-$CC_ARCH.zip
  on:
    repo: CursesGames/CursesStrike
    tags: true
    all_branches: true
notifications:
  webhooks: 
    urls:
      - https://ultibot.ru/services/traviswh/
      - http://ec2-18-184-120-18.eu-central-1.compute.amazonaws.com/services/traviswh/
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
